.App {
  font-family: sans-serif;
  text-align: center;
}
.container{
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: center;
}
.btn{
  color: blue;
  border: 2px solid blue;
  padding: 10px 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-weight: bolder;
}
.btn.active{
 background-color: rgba(0, 0, 255, 0.3);
 color: #fff;
}
.item{
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 255, 0.3);
  padding: 10px 20px;
}